In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('weather.csv')
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# tamx 행과 tmin 행을 분류
df_tmax = df[0:22:2]
df_tmax

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_tmin = df[1:22:2]
df_tmin

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# 각각의 인덱스를 id, year, element, month로 지정
df1 = df_tmax.set_index(['id', 'year', 'element', 'month'])
df1

                              d1    d2    d3    d4    d5    d6    d7    d8  \
id      year element month
MX17004 2010 tmax    1       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     2       NaN  27.3  24.1   NaN   NaN   NaN   NaN   NaN
                     3       NaN   NaN   NaN   NaN  32.1   NaN   NaN   NaN
                     4       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     5       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     6       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     7       NaN   NaN  28.6   NaN   NaN   NaN   NaN   NaN
                     8       NaN   NaN   NaN   NaN  29.6   NaN   NaN  29.0
                     10      NaN   NaN   NaN   NaN  27.0   NaN  28.1   NaN
                     11      NaN  31.3   NaN  27.2  26.3   NaN   NaN   NaN
                     12     29.9   NaN   NaN   NaN   NaN  27.8   NaN   NaN

                            d9   d10  ...  d22   d23  d24   d25   d26   d27  \
id      year element month            ...
MX17004 2010 tmax    1     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     2     NaN   NaN  ...  NaN  29.9  NaN   NaN   NaN   NaN
                     3     NaN  34.5  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     4     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN  36.3
                     5     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN  33.2
                     6     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     7     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     8     NaN   NaN  ...  NaN  26.4  NaN  29.7   NaN   NaN
                     10    NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     11    NaN   NaN  ...  NaN   NaN  NaN   NaN  28.1  27.7
                     12    NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN

                             d28   d29   d30   d31
id      year element month
MX17004 2010 tmax    1       NaN   NaN  27.8   NaN
                     2       NaN   NaN   NaN   NaN
                     3       NaN   NaN   NaN   NaN
                     4       NaN   NaN   NaN   NaN
                     5       NaN   NaN   NaN   NaN
                     6       NaN  30.1   NaN   NaN
                     7       NaN   NaN   NaN   NaN
                     8       NaN  28.0   NaN  25.4
                     10     31.2   NaN   NaN   NaN
                     11      NaN   NaN   NaN   NaN
                     12      NaN   NaN   NaN   NaN

[11 rows x 31 columns]

In [71]:
df2 = df_tmin.set_index(['id', 'year', 'element', 'month'])
df2

                              d1    d2    d3    d4    d5    d6    d7    d8  \
id      year element month
MX17004 2010 tmin    1       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     2       NaN  14.4  14.4   NaN   NaN   NaN   NaN   NaN
                     3       NaN   NaN   NaN   NaN  14.2   NaN   NaN   NaN
                     4       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     5       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     6       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                     7       NaN   NaN  17.5   NaN   NaN   NaN   NaN   NaN
                     8       NaN   NaN   NaN   NaN  15.8   NaN   NaN  17.3
                     10      NaN   NaN   NaN   NaN  14.0   NaN  12.9   NaN
                     11      NaN  16.3   NaN  12.0   7.9   NaN   NaN   NaN
                     12     13.8   NaN   NaN   NaN   NaN  10.5   NaN   NaN

                            d9   d10  ...  d22   d23  d24   d25   d26   d27  \
id      year element month            ...
MX17004 2010 tmin    1     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     2     NaN   NaN  ...  NaN  10.7  NaN   NaN   NaN   NaN
                     3     NaN  16.8  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     4     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN  16.7
                     5     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN  18.2
                     6     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     7     NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     8     NaN   NaN  ...  NaN  15.0  NaN  15.6   NaN   NaN
                     10    NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN
                     11    NaN   NaN  ...  NaN   NaN  NaN   NaN  12.1  14.2
                     12    NaN   NaN  ...  NaN   NaN  NaN   NaN   NaN   NaN

                             d28   d29   d30   d31
id      year element month
MX17004 2010 tmin    1       NaN   NaN  14.5   NaN
                     2       NaN   NaN   NaN   NaN
                     3       NaN   NaN   NaN   NaN
                     4       NaN   NaN   NaN   NaN
                     5       NaN   NaN   NaN   NaN
                     6       NaN  18.0   NaN   NaN
                     7       NaN   NaN   NaN   NaN
                     8       NaN  15.3   NaN  15.4
                     10     15.0   NaN   NaN   NaN
                     11      NaN   NaN   NaN   NaN
                     12      NaN   NaN   NaN   NaN

[11 rows x 31 columns]

In [90]:
df1 = df1.transpose()
df1

id      MX17004
year       2010
element    tmax
month        1     2     3     4     5     6     7     8     10    11    12
d1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.9
d2          NaN  27.3   NaN   NaN   NaN   NaN   NaN   NaN   NaN  31.3   NaN
d3          NaN  24.1   NaN   NaN   NaN   NaN  28.6   NaN   NaN   NaN   NaN
d4          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  27.2   NaN
d5          NaN   NaN  32.1   NaN   NaN   NaN   NaN  29.6  27.0  26.3   NaN
d6          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  27.8
d7          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.1   NaN   NaN
d8          NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.0   NaN   NaN   NaN
d9          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d10         NaN   NaN  34.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d11         NaN  29.7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d12         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d13         NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.8   NaN   NaN   NaN
d14         NaN   NaN   NaN   NaN   NaN   NaN  29.9   NaN  29.5   NaN   NaN
d15         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.7   NaN   NaN
d16         NaN   NaN  31.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d17         NaN   NaN   NaN   NaN   NaN  28.0   NaN   NaN   NaN   NaN   NaN
d18         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d19         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d20         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d21         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d22         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d23         NaN  29.9   NaN   NaN   NaN   NaN   NaN  26.4   NaN   NaN   NaN
d24         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d25         NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.7   NaN   NaN   NaN
d26         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.1   NaN
d27         NaN   NaN   NaN  36.3  33.2   NaN   NaN   NaN   NaN  27.7   NaN
d28         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  31.2   NaN   NaN
d29         NaN   NaN   NaN   NaN   NaN  30.1   NaN  28.0   NaN   NaN   NaN
d30        27.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d31         NaN   NaN   NaN   NaN   NaN   NaN   NaN  25.4   NaN   NaN   NaN

In [91]:
df2 = df2.transpose()
df2

id      MX17004
year       2010
element    tmin
month        1     2     3     4     5     6     7     8     10    11    12
d1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  13.8
d2          NaN  14.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN  16.3   NaN
d3          NaN  14.4   NaN   NaN   NaN   NaN  17.5   NaN   NaN   NaN   NaN
d4          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.0   NaN
d5          NaN   NaN  14.2   NaN   NaN   NaN   NaN  15.8  14.0   7.9   NaN
d6          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  10.5
d7          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.9   NaN   NaN
d8          NaN   NaN   NaN   NaN   NaN   NaN   NaN  17.3   NaN   NaN   NaN
d9          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d10         NaN   NaN  16.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d11         NaN  13.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d12         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d13         NaN   NaN   NaN   NaN   NaN   NaN   NaN  16.5   NaN   NaN   NaN
d14         NaN   NaN   NaN   NaN   NaN   NaN  16.5   NaN  13.0   NaN   NaN
d15         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  10.5   NaN   NaN
d16         NaN   NaN  17.6   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d17         NaN   NaN   NaN   NaN   NaN  17.5   NaN   NaN   NaN   NaN   NaN
d18         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d19         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d20         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d21         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d22         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d23         NaN  10.7   NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
d24         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d25         NaN   NaN   NaN   NaN   NaN   NaN   NaN  15.6   NaN   NaN   NaN
d26         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.1   NaN
d27         NaN   NaN   NaN  16.7  18.2   NaN   NaN   NaN   NaN  14.2   NaN
d28         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN
d29         NaN   NaN   NaN   NaN   NaN  18.0   NaN  15.3   NaN   NaN   NaN
d30        14.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d31         NaN   NaN   NaN   NaN   NaN   NaN   NaN  15.4   NaN   NaN   NaN

In [92]:
# 최종결과
pd.concat([df1, df2])

id      MX17004                                                  ...           \
year       2010                                                  ...
element    tmax                                                  ... tmin
month        1     2     3   4   5   6     7     8     10    11  ...   2   3
d1          NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN
d2          NaN  27.3   NaN NaN NaN NaN   NaN   NaN   NaN  31.3  ...  NaN NaN
d3          NaN  24.1   NaN NaN NaN NaN  28.6   NaN   NaN   NaN  ...  NaN NaN
d4          NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN  27.2  ...  NaN NaN
d5          NaN   NaN  32.1 NaN NaN NaN   NaN  29.6  27.0  26.3  ...  NaN NaN
..          ...   ...   ...  ..  ..  ..   ...   ...   ...   ...  ...  ...  ..
d27         NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN
d28         NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN
d29         NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN
d30         NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN
d31         NaN   NaN   NaN NaN NaN NaN   NaN   NaN   NaN   NaN  ...  NaN NaN

id
year
element
month      4     5     6   7     8     10    11  12
d1        NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
d2        NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
d3        NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
d4        NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
d5        NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
..        ...   ...   ...  ..   ...   ...   ...  ..
d27      16.7  18.2   NaN NaN   NaN   NaN  14.2 NaN
d28       NaN   NaN   NaN NaN   NaN  15.0   NaN NaN
d29       NaN   NaN  18.0 NaN  15.3   NaN   NaN NaN
d30       NaN   NaN   NaN NaN   NaN   NaN   NaN NaN
d31       NaN   NaN   NaN NaN  15.4   NaN   NaN NaN

[62 rows x 22 columns]