In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('spam (1).csv')
df

      Unnamed: 0 target                                               text
0              0    ham  Go until jurong point, crazy.. Available only ...
1              1    ham                      Ok lar... Joking wif u oni...
2              2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              3    ham  U dun say so early hor... U c already then say...
4              4    ham  Nah I don't think he goes to usf, he lives aro...
...          ...    ...                                                ...
5569        5569   spam  This is the 2nd time we have tried 2 contact u...
5570        5570    ham               Will ü b going to esplanade fr home?
5571        5571    ham  Pity, * was in mood for that. So...any other s...
5572        5572    ham  The guy did some bitching but I acted like i'd...
5573        5573    ham                         Rofl. Its true to its name

[5574 rows x 3 columns]

In [5]:
df_lower = df['text'].str.lower()
df_lower

0       go until jurong point, crazy.. available only ...
1                           ok lar... joking wif u oni...
2       free entry in 2 a wkly comp to win fa cup fina...
3       u dun say so early hor... u c already then say...
4       nah i don't think he goes to usf, he lives aro...
                              ...
5569    this is the 2nd time we have tried 2 contact u...
5570                 will ü b going to esplanade fr home?
5571    pity, * was in mood for that. so...any other s...
5572    the guy did some bitching but i acted like i'd...
5573                           rofl. its true to its name
Name: text, Length: 5574, dtype: object

In [6]:
df_upper = df['text'].str.upper()
df_upper

0       GO UNTIL JURONG POINT, CRAZY.. AVAILABLE ONLY ...
1                           OK LAR... JOKING WIF U ONI...
2       FREE ENTRY IN 2 A WKLY COMP TO WIN FA CUP FINA...
3       U DUN SAY SO EARLY HOR... U C ALREADY THEN SAY...
4       NAH I DON'T THINK HE GOES TO USF, HE LIVES ARO...
                              ...
5569    THIS IS THE 2ND TIME WE HAVE TRIED 2 CONTACT U...
5570                 WILL Ü B GOING TO ESPLANADE FR HOME?
5571    PITY, * WAS IN MOOD FOR THAT. SO...ANY OTHER S...
5572    THE GUY DID SOME BITCHING BUT I ACTED LIKE I'D...
5573                           ROFL. ITS TRUE TO ITS NAME
Name: text, Length: 5574, dtype: object

In [7]:
df_title = df['text'].str.title()
df_title

0       Go Until Jurong Point, Crazy.. Available Only ...
1                           Ok Lar... Joking Wif U Oni...
2       Free Entry In 2 A Wkly Comp To Win Fa Cup Fina...
3       U Dun Say So Early Hor... U C Already Then Say...
4       Nah I Don'T Think He Goes To Usf, He Lives Aro...
                              ...
5569    This Is The 2Nd Time We Have Tried 2 Contact U...
5570                 Will Ü B Going To Esplanade Fr Home?
5571    Pity, * Was In Mood For That. So...Any Other S...
5572    The Guy Did Some Bitching But I Acted Like I'D...
5573                           Rofl. Its True To Its Name
Name: text, Length: 5574, dtype: object

In [8]:
df_swapcase = df['text'].str.swapcase()
df_swapcase

0       gO UNTIL JURONG POINT, CRAZY.. aVAILABLE ONLY ...
1                           oK LAR... jOKING WIF U ONI...
2       fREE ENTRY IN 2 A WKLY COMP TO WIN fa cUP FINA...
3       u DUN SAY SO EARLY HOR... u C ALREADY THEN SAY...
4       nAH i DON'T THINK HE GOES TO USF, HE LIVES ARO...
                              ...
5569    tHIS IS THE 2ND TIME WE HAVE TRIED 2 CONTACT U...
5570                 wILL Ü B GOING TO ESPLANADE FR HOME?
5571    pITY, * WAS IN MOOD FOR THAT. sO...ANY OTHER S...
5572    tHE GUY DID SOME BITCHING BUT i ACTED LIKE I'D...
5573                           rOFL. iTS TRUE TO ITS NAME
Name: text, Length: 5574, dtype: object